
<div class="row">
    <div class="col-4">
        <label>Servicio:</label>
        <select class="form-select" aria-label="Default select example" v-model="serviceSelected"
        @change="findRankDateAvailable">
            <option v-for="(item, index) in listService" :value="item.id">
                {{item.company_name}}
            </option>
        </select>
        <small class="text-danger" v-if="clickedSearch && !serviceSelected">Campo requerido</small>
    </div>
    <div class="col-4">
        <label data-bs-toggle="tooltip" title="Seleccione primer un servicio">Semana <strong v-if="numberWeek">{{ numberWeek }}</strong></label>
        <Datepicker v-model="datesRank"
                    :disabled="disabledDatePicker"
                    :minDate="minDate"
                    :maxDate="maxDate"
                    :clearable="false"
                    weekPicker
                    locale="es"
                    cancel-text="Cancelar"
                    select-text="Seleccionar"
                    format="dd/MM/yyyy"
                    @update:modelValue="calculateNumberWeek">
        </Datepicker>
        <small class="text-danger" v-if="clickedSearch && datesRank.length === 0">Campo requerido</small>
    </div>
    <div class="col align-self-end">
        <button class="btn btn-secondary align-bottom" :disabled="isSearch" @click="searchData">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="isSearch"></span>
            {{ isSearch? 'Buscando...' : 'Buscar' }}
        </button>
    </div>
</div>
